<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderOperationServlet</servlet-name>
        <servlet-class>servlets.OrderOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartOperationServlet</servlet-name>
        <servlet-class>servlets.CartOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>servlets.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswsordServlet</servlet-name>
        <servlet-class>servlets.ChangePasswsordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>servlets.WishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOperationServlet</servlet-name>
        <servlet-class>servlets.AddOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOperationServletp</servlet-name>
        <servlet-class>servlets.AddOperationServletp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLoginServlet</servlet-name>
        <servlet-class>servlets.ManagerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderOperationServlet</servlet-name>
        <url-pattern>/OrderOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartOperationServlet</servlet-name>
        <url-pattern>/CartOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOperationServlet</servlet-name>
        <url-pattern>/AddOperation</url-pattern>
        <!-- Adjust the URL pattern as needed -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOperationServletp</servlet-name>
        <url-pattern>/AddOperationServletp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLoginServlet</servlet-name>
        <url-pattern>/ManagerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
